.idea/
__pycache__/
lib/*
html/
webrobots_downloads/
.ipynb_checkpoints/

*.pyc
*.json
!proxy_servers.json
*.db
!*_empty.db
*.xlsx
*.pickle
*.html
*.zip
*.docx
*.log
*.tsv
*.txt
!requirements.txt
kiva/snapshot/*
lib/

